<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
<table border="2px">

    <tr>
        <th>Id</th>
        <th>Room Number</th>
        <th>Room Number</th>
        <th>Bed Info</th>
    </tr>
    <tr th:each="room:${rooms}">
        <td th:text="${room.getId()}">Id</td>
        <td th:text="${room.getNumber()}">Number</td>
        <td th:text="${room.getName()}">Name</td>
        <td th:text="${room.getInfo()}">Info</td>
    </tr>
</table>
</body>
</html>